PYTHONPATH=.

DATA_PATH=./assets

IMG_PATH=./assets
PLOTLY_URL=http://localhost:8050/


#Authentication
COOKIE_SECRET_KEY=key
USERNAME=admin
PASSWORD=mypassword

CLUSTER_FOLDER=folder
METHOD=method
CLUSTER_RUN =subfolder

AZURE_STORAGE_CONNECTION_STRING=azure_connection_string
SECRET_KEY=key
PASSWORD_USER1=password1
PASSWORD_USER2=password2

USE_LOCAL_ASSETS=True
